@import "tailwindcss";
/* @plugin "./hero.ts"; */
@import "@easy-tec/ui/theme.css";
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

/* body {
  @apply bg-default-100;
} */

@theme {
  --color-light: #f4f4f4;
  --color-gray: #6a737b;
}

@layer utilities {
  .gradient-radial {
    background: radial-gradient(var(--tw-gradient-stops));
  }

  .gradient-conic {
    background: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }
}


hr {
  @apply border-default
}

.home-main_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: min-content;
  max-height: calc(100vh - 20px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-500;
  @apply opacity-10;
  @apply cursor-grab;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-primary;
  @apply cursor-grabbing;
}

@media (max-width: 1024px) {
  .home-main_grid {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}